<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perkpack Card Creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <h1>Cards</h1>
        <h2>Add a new card</h2>
        <form id="create-card" th:action="@{/cards}" th:object="${card}" method="post">
            <p>
                Name: <input type="text" th:field="*{name}" />
            </p>
            <p>
                Description: <input type="text" th:field="*{description}" />
            </p>
            <p>
                <input type="submit" value="Create" />
                <input type="reset" value="Reset" />
            </p>
        </form>
    </body>
</html>