/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Heebo', sans-serif;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}

	#bg-color {
		background: linear-gradient(
				to right,
				rgba(75, 211, 67, 1),
				rgba(66, 244, 206, 1)
			);
		opacity: 0.1;
	}

	#bg-fade {
		background: linear-gradient(
				to top,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 0.8) 50%,
				rgba(255, 255, 255, 0) 100%
			);
	}

	#bg-white {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		top: 10px;
		left: 10px;
		background: rgba(255, 255, 255, 1);
	}

h2 {
	font-weight: unset;
}

@keyframes input-pulse {
	0% {
		border-color: rgba(66, 244, 206, 1);
	}
	50% {
		border-color: rgba(66, 244, 206, 0.33);
	}
	100% {
		border-color: rgba(66, 244, 206, 1);
	}
}

@keyframes input-pulse-bottom {
	0% {
		border-bottom-color: rgba(66, 244, 206, 1);
	}
	50% {
		border-bottom-color: rgba(66, 244, 206, 0.33);
	}
	100% {
		border-bottom-color: rgba(66, 244, 206, 1);
	}
}

.text-input {
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 5em;
	padding: 10px 1em;
	flex: 1;
	font-family: 'Heebo', sans-serif;
	font-size: 1em;
}

	.text-input:active,
	.text-input:focus
	{
		outline: unset;
		border: 2px solid rgba(66, 244, 206, 1);
		padding: 9px 1em;
		animation-name: input-pulse;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	.text-input:active ~ i,
	.text-input:focus ~ i
	{
		opacity: 1 !important;
	}

	.text-input:invalid,
	.text-input.invalid
	{
		border-color: red;
		animation: unset;
		color: red;
	}

	.text-input:not(:focus):invalid {
		background-color: rgba(255, 0, 0, 0.33);
		border-color: transparent;
	}

.text-input.open {
	border-radius: unset;
	border-top-color: transparent;
	border-right-color: transparent;
	border-right-width: 0;
	border-left-color: transparent;
	border-left-width: 0;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
}

	.text-input.open:active,
	.text-input.open:focus
	{
		animation-name: input-pulse-bottom;
		margin-bottom: -1px !important;
	}

.input-radio-container {
	margin-bottom: 0 !important;
}

	.input-radio-container.invalid .input-radio {
		background: rgba(255, 0, 0, 0.25);
	}

		.input-radio-container.invalid .input-radio:hover {
			background: rgba(255, 0, 0, 0.175);
		}

	.input-radio {
		width: 50%;
		padding-bottom: 50%;
		display: inline-block;
		position: relative;
	}

		.input-radio:hover {
			background: rgba(0, 0, 0, 0.025);
		}

		.input-radio input {
			position: absolute;
			opacity: 0;
		}

		.input-radio label {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 0.6em;
			text-transform: uppercase;
			font-weight: bold;
			color: rgba(0, 0, 0, 0.15);
		}

			.input-radio .radio-icon {
				padding: 0.5em;
				border: 2px solid rgba(0, 0, 0, 0.15);
				border-radius: 50%;
				display: flex;
			}

			.input-radio input:checked ~ label {
				color: unset;
			}

				.input-radio input:checked ~ label .radio-icon {
					border-color: rgb(66, 244, 206);
				}

				.input-radio input:checked ~ label .radio-label {
					color: rgb(66, 244, 206);
				}

#header {
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
}

	#title {
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 1em;
		background: rgba(0, 0, 0, 1);
		padding: 15px 20px;
		padding-right: calc(20px - 1em);
	}

.page {
	padding: 30px !important;
	padding-bottom: 150px !important;
	display: none !important;
}

	@keyframes page-in {
		0% {
			transform: translate(0, 1em);
			opacity: 0;
		}
		100% {
			transform: translate(0, 0);
			opacity: 100%;
		}
	}

	.page.active {
		display: block !important;
		animation-name: page-in;
		animation-duration: 0.5s;
		animation-iteration-count: 1;
	}

.button {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

	.big.button {
		font-size: unset !important;
		letter-spacing: unset;
		width: 3em;
		height: 3em;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: unset;
		position: relative;
	}

		.big.button .button-expand {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 0;
			left: 0;
			background: white;
			z-index: 100;
			opacity: 1;
			transition: transform 0.2s, opacity 0.5s 0.2s;
		}

			.big.button:hover .button-expand {
				transform: scale(1.1);
			}

			.big.button.active .button-expand {
				transform: scale(25);
				opacity: 0;
			}

		.big.button i {
			z-index: 200;
			pointer-events: none;
		}

#navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 110px;
	background:
		linear-gradient(
			to top,
			rgba(75, 211, 67, 1) 0%,
			rgba(66, 244, 206, 1) 30%,
			rgba(66, 244, 206, 0.5) 50%,
			rgba(66, 244, 206, 0.4) 55%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(
			to top,
			rgba(255, 255, 255, 1) 60%,
			rgba(255, 255, 255, 0) 100%
		);
	padding-top: 50px;
	color: white;
}

	#navbar-title {
		display: none;
	}

	#navbar-inner {
		width: 100%;
		height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: relative;
	}

		.navbar-menu-item {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 100%;
			border-bottom: 3px solid rgba(255, 255, 255, 0);
		}

			@keyframes menu-bounce {
				0% {
					transform: translate(0, 0);
				}
				50% {
					transform: translate(0, 0.05rem);
				}
				100% {
					transform: translate(0, 0);
				}
			}

			.navbar-menu-item.active {
				border-color: rgba(255, 255, 255, 1);
				animation-name: menu-bounce;
				animation-duration: 0.2s;
				animation-iteration-count: 1;
				opacity: 1 !important;
			}

			.navbar-menu-item:hover {
				opacity: 0.5;
				border-color: rgba(255, 255, 255, 1);
			}

			.navbar-menu-item .title {
				letter-spacing: 0.2em;
				font-weight: unset;
				font-size: 0.6em;
			}

				.navbar-menu-item .title .name.logged-in {
					font-size: 0.9em;
					letter-spacing: 0.1em;
					font-weight: bold;
					color: rgba(75, 211, 67, 1);
					background: white;
					border-radius: 1em;
					padding: 0 10px;
				}

			.navbar-menu-item.big {
				font-size: 2em;
			}

				.navbar-menu-item.big .logo {
					display: flex;
					align-items: center;
					transform: translate(0, -0.25em);
				}

					.navbar-menu-item.big .logo img {
						width: 1em;
					}

		.navbar-menu-item .button {
			background: white;
			color: rgba(75, 211, 67, 1);
			transform: translate(0, -10px);
		}

			.navbar-menu-item .button:hover {
				opacity: 1 !important;
			}

	#menu-perk:hover {
		opacity: 1;
	}

#app-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.67);
	align-items: center;
	justify-content: center;
	display: none;
}

	#app-loader.loading {
		display: flex;
	}

	@keyframes loader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.loader {
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background:
			linear-gradient(
				to top,
				rgba(255, 255, 255, 1),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(
				45deg,
				rgb(75, 211, 67),
				rgb(66, 244, 206)
			);
		animation-name: loader;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}

	.section .loader {
		margin-left: calc(50% - 50px);
	}

/* SECTIONS */

.section {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

	.section:last-child {
		margin-bottom: unset;
	}

	.card {
		background: white;
		border: 1px solid rgba(0, 0, 0, 0.04);
		padding: 20px;
		position: relative;
		margin-bottom: 30px;
	}

	.title {
		font-size: 0.8em;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.5em;
		display: block;
	}

		.title span {
			position: relative;
		}

			.title span::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0.05em;
				width: calc(100% - 0.5em);
				height: 0.7em;
				background: rgb(66, 244, 206);
				opacity: 0.5;
			}

		.main.title {
			font-size: 1.2em;
		}

	.subtitle {
		font-size: 1.2em;
		color: rgb(66, 244, 206);
		display: block;
	}

		.subtitle span {
			position: relative;
		}

			.subtitle span::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0.25em;
				width: 100%;
				height: 0.3em;
				background: black;
				opacity: 0.067;
			}

		.small.subtitle {
			margin-bottom: 1em;
		}

	.card .button {
		background: linear-gradient(
				45deg,
				rgb(75, 211, 67),
				rgb(66, 244, 206)
			);
		color: white;
		position: absolute;
		font-size: 0.7em;
		padding: 5px 15px;
		border-radius: 5em;
		bottom: 0;
		right: 20px;
		transform: translate(0, 50%);
		text-transform: uppercase;
		cursor: default;
		transition: transform 0.33s, opacity 0.1s;
	}

		.card .button:hover {
			opacity: 0.67;
			transform: translate(0, 50%) scale(1.1);
		}

			.button.go:hover {
				transform: translate(0.25em, 50%);
			}

			.button.go i {
				transition: transform 0.33s;
			}

				.button.go:hover i {
					transform: translate(0.25em, 0);
				}

	.section.input {
		flex-direction: row;
		align-items: center;
		position: relative;
	}

		.section.input .text-input {
			width: 0;
		}

		.section.input .input-label {
			margin-right: 10px;
		}

		.section.input .input-container {
			position: relative;
			flex: 1;
			display: flex;
			align-items: center;
		}

		.section.input i {
			position: absolute;
			left: 0.67em;
			opacity: 0.5;
		}

		.section.input .text-input {
			padding-left: 2.5em;
		}

			.section.input .text-input:focus,
			.section.input .text-input:active
			{
				padding-left: calc(2.5em - 1px);
			}

	.section.input.open {
		align-items: baseline;
	}

	.section.open-input-container {
		margin-bottom: 20px;
	}

/* PERK TILES */

.perk-list {
	display: flex;
	flex-direction: column;
}

	.perk-tile {
		display: flex;
		flex-direction: row;
		width: calc(100% + 60px);
		margin-left: -30px;
		background: white;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	}

	.perk-vote {
		flex: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: white;
		padding: 0.5em;
		border-right: 3px solid rgb(66, 244, 206);
		border-image:
			linear-gradient(
				to bottom,
				rgb(66, 244, 206),
				rgb(75, 211, 67)
			) 1 100%;
		padding-top: 0.75em;
	}

		.perk-vote > * {
			line-height: 1em;
			margin-bottom: 0.15em;
			cursor: default;
		}

		.perk-vote-button {
			color: rgba(0, 0, 0, 0.15);
		}

			.perk-vote-button i {
				font-size: 1em;
			}

			.perk-vote-button:not(.voted):hover {
				color: rgba(0, 0, 0, 0.33);
			}

			.perk-vote-button.voted {
				color: rgb(66, 244, 206) !important;
			}

			.perk-vote-button.voted:hover {
				opacity: 0.5;
			}

	.perk-info {
		flex: 1;
		padding: 1em;
		overflow: hidden;
		position: relative;
	}

		.perk-name {
			color: rgb(66, 244, 206);
			padding-right: 1.67em;
			line-height: 1em;
			margin-bottom: 0.5em;
		}

		.perk-desc {
			font-size: 0.75em;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.perk-cat {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			padding: 0.5em;
			background: white;
			border: 2px solid rgb(66, 244, 206);
			border-radius: 50%;
			display: flex;
		}

			.perk-cat i {
				font-size: 1em;
			}

/* PAGES */

/* account */

#page-account #account-logged-in {
	display: none;
}

#page-account #account-logged-out {
	display: block;
}

#page-account.logged-in #account-logged-in {
	display: block;
}

#page-account.logged-in #account-logged-out {
	display: none;
}

#sign-up:hover {
	cursor: pointer;
	opacity: 0.8;
}

#page-signup .open-input-container {
	margin-bottom: 30px;
}

	/* cards */

	.pp-card {
		width: calc(100% + 60px);
		margin-left: -30px;
		background: blue;
		border-radius: 5px;
		padding-bottom: 55%;
		color: white;
		font-size: 2em;
		margin-top: -55%;
		margin-bottom: 1.25em;
		position: relative;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
		transition: transform 0.2s;
	}

			.pp-card:first-child {
				margin-top: unset;
			}

			.pp-card:hover {
				transform: translate(0, -25%) scale(1.025);
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33);
			}

				.pp-card:last-child {
					margin-bottom: unset;
				}

				.pp-card:last-child:hover {
					transform: scale(1.025);
				}

		.pp-card-inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0.5em;
			overflow: hidden;
		}

		.pp-card-visa {
			background: #00579F;
			color: #FAA61A;
		}

		.pp-card-td-bank {
			background: #00B624;
			color: white;
		}

		.pp-card-spc {
			background: black;
			color: white;
		}

@media only screen and (min-width: 700px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 20px;
	}

	.text-input {
		padding: 0.8em 2em;
	}

		.text-input:active,
		.text-input:focus
		{
			padding: calc(0.8em - 1px) 2em;
		}

	.input-radio {
		width: 20%;
		padding-bottom: 20%;
	}

	.page {
		width: 100%;
		max-width: 1200px;
		padding: 180px 100px 100px 100px !important;
	}

	.section {
		margin-bottom: 50px;
	}

		.section.card {
			padding: 50px;
		}

			.card .button {
				right: 50px;
				font-size: 0.8em;
				padding: 0.5em 1.5em;
			}

			.section.input.open {
				margin-bottom: 20px;
			}

			.section.input .input-label {
				margin-right: 30px;
			}

			.section.input i {
				left: 1em;
			}

			.section.input .text-input {
				padding-left: 3em;
			}

				.section.input .text-input:focus,
				.section.input .text-input:active
				{
					padding-left: calc(3em - 1px);
				}

	.side-by-side {
		flex-direction: row;
	}

		.side-by-side > .section {
			flex: 1;
			margin-right: 50px;
			margin-bottom: unset;
		}

		.side-by-side > .section:last-child {
			margin-right: unset;
		}

	.perk-tile {
		width: calc(100% + 120px);
    	margin-left: -60px;
    	margin-bottom: 20px;
	}

		.perk-desc {
			white-space: unset;
		}

	.big.button {
		font-size: 1em !important;
		width: 4em;
		height: 4em;
	}

		.big.button i {
			font-size: 1.5em !important;
		}

	#header {
		display: none;
	}

	#navbar {
		top: 0;
		height: 80px;
		padding-top: 0;
		background: unset;
		display: flex;
		flex-direction: row;
	}

		#navbar-title {
			display: flex;
			align-items: center;
			background: black;
			text-transform: uppercase;
			font-size: 0.8em;
			letter-spacing: 1em;
			justify-content: center;
			padding: 1em;
			padding-left: 2em;
			cursor: default;
		}

			#navbar-title .logo {
				width: 2em;
				margin-right: 1em;
			}

		#navbar-inner {
			background: linear-gradient(
					45deg,
					rgba(75, 211, 67, 1),
					rgba(66, 244, 206, 1)
				);
			height: 100%;
			justify-content: left;
			flex: 1;
			padding-left: 0.5em;
		}

		.navbar-menu-item {
			flex: 0;
			min-width: 100px;
		}

			.navbar-menu-item .title {
				transform: translate(0, 0.5em);
			}

				.navbar-menu-item .title .name {
					transform: translate(0, -0.33em);
				}

			.navbar-menu-item.big .logo {
				transform: unset;
			}

			.navbar-menu-item .button {
				transform: unset;
			}

			#menu-home {
				order: -1;
			}

			#menu-perk {
				position: absolute;
				min-width: unset;
				top: 50%;
				right: 40px;
			}
}