/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Heebo', sans-serif;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.8);
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}

	#bg-color {
		background: linear-gradient(
				to right,
				rgba(75, 211, 67, 1),
				rgba(66, 244, 206, 1)
			);
		opacity: 0.1;
	}

	#bg-fade {
		background: linear-gradient(
				to top,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 0.8) 50%,
				rgba(255, 255, 255, 0) 100%
			);
	}

	#bg-white {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		top: 10px;
		left: 10px;
		background: rgba(255, 255, 255, 1);
	}

h2 {
	font-weight: unset;
}

input[type="text"] {
	border: 1px solid rgba(0, 0, 0, 0.03);
	border-radius: 5em;
	padding: 10px;
	flex: 1;
	font-family: 'Heebo', sans-serif;
}

	input[type="text"]:active,
	input[type="text"]:focus
	{
		outline: unset;
		border: 2px solid rgba(66, 244, 206, 1);
		padding: 9px 10px;
	}

	input[type="text"]:active ~ i,
	input[type="text"]:focus ~ i
	{
		opacity: 1;
	}

#header {
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	margin-top: 30px;
}

	#title {
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 1em;
		background: rgba(0, 0, 0, 1);
		padding: 15px 20px;
		padding-right: calc(20px - 1em);
	}

#main {
	padding: 30px;
	padding-bottom: 150px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background:
		linear-gradient(
			to top,
			rgba(75, 211, 67, 1) 0%,
			rgba(66, 244, 206, 0.8) 33%,
			rgba(66, 244, 206, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(
			to top,
			rgba(255, 255, 255, 1) 60%,
			rgba(255, 255, 255, 0) 100%
		);
	padding-top: 40px;
	color: white;
}

	#footer-inner {
		width: 100%;
		height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

		.footer-menu-item {
			flex: 1;
			display: flex;
			justify-content: center;
			text-align: center;
		}

			.footer-menu-item:hover {
				opacity: 0.5;
			}

			.footer-menu-item .title {
				letter-spacing: 0.2em;
				font-weight: unset;
				font-size: 0.6em;
			}

			.footer-menu-item.big {
				font-size: 2em;
				flex: 0;
				transform: translate(0, -0.5rem);
				padding: 0 10px;
			}

		.footer-menu-item .button {
			width: 60px;
			height: 60px;
			background: white;
			border-radius: 50%;
			color: rgba(75, 211, 67, 1);
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translate(0, -10px);
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
		}

/* SECTIONS */

.section {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

	.section:last-child {
		margin-bottom: unset;
	}

	.card {
		background: white;
		border: 1px solid rgba(0, 0, 0, 0.03);
		padding: 20px;
		position: relative;
		margin-bottom: 30px;
	}

	.title {
		font-size: 0.8em;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.5em;
		display: unset;
	}

		.title span {
			position: relative;
		}

			.title span::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: calc(100% - 0.5em);
				height: 0.7em;
				background: rgb(66, 244, 206);
				opacity: 0.5;
			}

	.card .button {
		background: linear-gradient(
				45deg,
				rgb(75, 211, 67),
				rgb(66, 244, 206)
			);
		color: white;
		position: absolute;
		font-size: 0.7em;
		padding: 5px 15px;
		padding-left: calc(15px + 0.5em);
		border-radius: 5em;
		bottom: 0;
		right: 20px;
		transform: translate(0, 50%);
		text-transform: uppercase;
		letter-spacing: 0.5em;
		cursor: default;
	}

		.card .button:hover {
			opacity: 0.8;
		}

	.section.search {
		flex-direction: row;
		align-items: center;
		color: rgb(66, 244, 206);
		position: relative;
	}

		.section.search i {
			position: absolute;
			left: 10px;
			opacity: 0.5;
		}

		.section.search input[type="text"] {
			padding-left: 40px;
		}